{% extends "base_generic.html" %}

{% block content %}
<h1>Languages</h1>
{% for language in page_obj.object_list %}
  <hr/>
  <a href="{{ language.get_absolute_url }}">{{ language.name }}</a> 
  {% endfor %}
 <hr/>
<center>
{%if page_obj.has_previous %} {# whether the previous page exists #}
    <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
{% endif %}

{% if page_obj.has_other_pages %}
    <span >{{page_obj.number}}</span> {# the current page number #}
{% endif %}

{%if page_obj.has_next %} {# whether the next page exists #}
    <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
{% endif %}
</center>
{% endblock %}